.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .feature {
    text-align: center;
    max-width: 250px;
    margin: 20px;
  }
  
  .image {
    width: 100%;
    height: 200px; /* Ajustar altura de las imágenes */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
  }
  
  h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  p {
    font-size: 0.9em;
    color: #555;
  }
  